*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: normal;
    text-align: start;
}
.flex-container{
    display: flex;
    font-weight: 400;
    gap: 200px;
    padding: 13.5px 27px;
    margin: 0px;
}
.flex-item{
    font-size: 13.5px;
    color: #ffffff;
    margin-right: 0px;
    text-align: start;
}
.link{
    color: #ffffff;
    font-size: 15.84px;
    line-height: 18.216px;
    vertical-align: baseline;
    padding: 1px 0px;
    margin: 0px;
    word-spacing: 0px;
    line-height: 18.216px;
    letter-spacing: -0.18px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    border: 0px;
}
.button{
    background: none;
    color: #ffffff;
    font-size: 15.84px;
    line-height: 18.216px;
    vertical-align: baseline;
    padding: 1px 0px;
    margin: 0px;
    word-spacing: 0px;
    line-height: 18.216px;
    letter-spacing: -0.18px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
}
.blog{
     color: #ffc726;
    font-size: 15.84px;
    line-height: 18.216px;
    vertical-align: baseline;
    padding: 1px 0px;
    margin: 0px;
    word-spacing: 0px;
    line-height: 18.216px;
    letter-spacing: -0.18px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
}
.button1{
font-size: 18px;
font-weight: 700;
line-height: 27px;
background-color: #e03131;
color: #ffffff;
padding: 12px 20px;
border-radius: 50px;
text-align: right;
}
.header{
    color: #FAF9F9;
    font-size: 49.5px;
    line-height: 56.925px;
    vertical-align: baseline;
    padding:  0px;
    margin: 0px 36px 18px 0px;
    word-spacing: 0px;
    letter-spacing: -1.08px;
    font-weight: 700;
    text-align: left;
}
.linkI{
    color: #ffe7a3;
}
.paraI{
    color: #ffffff;
    font-size: 27px;
    line-height: 40.5px;
    font-weight: 400;
    margin: 0px px 36px;
    padding: 0px;
}
.link5{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #ffffff;
    line-height: 18px;
    vertical-align: baseline;
    padding: 13.5px 18px;
    word-spacing: ;
    letter-spacing: -0.18px;
    font-weight: 700;
    text-align: center;
}
.head{
    font-size: 31.5px;
    color:#EAE6E4;
    vertical-align: baseline;
    padding: 0px;
    margin: 13.5px 0px 9px;
    line-height: 36.255px;
    letter-spacing: -0.36px;
    font-weight: 700px;
    text-align: left;
}
.para1{
    color: #EAE6E4;
    font-size: 20.25px;
    vertical-align: baseline;
    padding: 0px;
    margin: 0px 0px 9px;
    line-height: 30.375px;
    font-weight: 400;
    text-align:left;
}
.para2{
    color: #EAE6E4;
    font-size: 15.84px;
    vertical-align: baseline;
    padding: 0px;
    margin: 9px 0px 0px;
    line-height: 23.76px;
    letter-spacing: 1.08px;
    font-weight: 700;
    word-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
}
.name{
    color: #FFC726;
    font-size: 18px;
    vertical-align: baseline;
    line-height: 27px;
    font-weight: 700px;
    text-align: start;
    padding: 0px;
}
.time{
    color: #EAE6E4;
    font-size: 18px;
    vertical-align: baseline;
    line-height: 27px;
    font-weight: 400px;
    text-align: start;
    padding: 0px;
}
.flex-container2{
    display: flex;
    background-color: #2f1c1c;
    margin: 36px 0px 30px 0px;
    padding: 9px 36px 36px;
    border-radius: 5px;
}
.flex-item2 h2{
    color:#FAF9F9;
    font-size: 36px;
    margin: 18px 0px;
    line-height: 46.8px;
    letter-spacing: -0.36px;
    vertical-align: baseline;
    font-weight: 700;
    text-align: left;
}
.flex-item2 label{
    font-family: 'Courier New', Courier, monospace;
    color: #FAF9F9;
    font-size: 18px;
    margin: 22.4px 0px 24px 30px;
    line-height: ;
    padding: 10px 0px 30px 30px;
    line-height: 35.85px;
    letter-spacing: -0.18px;
    vertical-align: baseline;
    font-weight: 400;
}
.flex-item2 input{
    background-color: none;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 1px 13.5px;
    line-height: 20.7px;
    letter-spacing: normal;
    vertical-align: baseline;
    font-weight: 400;
    text-align: start;
    display: inline;
}
.flex-item2 button{
    font-size: 13.3333px;
    font-weight: 700;
    line-height: normal;
    background-color: #e03131;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 50px;
    display: inline;
    text-align: right;
}
.para{
    color: #EAE6E4;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 12px 20px;
    border-radius: 50px;
    gap: 60PX;
}
.linkII{
    color: #FFC726;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    vertical-align: baseline;
}